body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Home page styles */
.headerDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1500px;
  background: black;
  color: white;
}
.logo{
  width: 100px;
  height: 40px;

}
.fun-friday-mrgn{
  margin:5px 20px 0 0;
  font-size:20px;
}
.flex-end-nav{
  justify-content:flex-end !important ;
  margin-right: 18px;
}
.nav-mrg-rt{
  margin-right:10px;
  font-size: 16px;
}
.hm-card-title{
  display: flex;
  justify-content: center;
  font-size: 80px;
  height: 50px;
  color: black;
  margin-top: 40px
}
.hm-card-quotes{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
}
.hm-let-play-div{
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 400px;
}
.hm-let-ply-btn{
  display: flex;
    flex-direction: row;
    justify-content: center;
    background: black !important;
    width: 150px;
    border: none !important;
}
.hm-gm-rule-mrg{
  margin-top:50px !important;
}

/* Round 1 css */
.r1-row{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 1450px;
  padding: 15px;
}
.r1-img-card{
    width: 600px;
    height: 300px;
    box-shadow: 1px 1px 1px 1px #f4efe8;
    padding: 5px;
}
.r1-timer-card , .r1-increment-crad,.r1-count-card{
  /* border: 1px solid red; */
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 1px 1px #f4efe8;
  padding: 5px;
  margin-top: 40px;
}
.r2-img-card{
    width: 600px;
    height: 500px;
    box-shadow: 1px 1px 1px 1px #f4efe8;
    padding: 5px;
}
.r1-contanier{
  
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.r1-timer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 200px;
}
.r1-increment{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 200px;
  font-size: 40px;
}
.r1-count-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 200px;
  font-size: 40px;
}
.r1-header{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.r1-main-div{
  margin-top:100px;
}
.r1-img{
  width: 600px;
  height: 300px;
}
/* R2 css */
.r2-header{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-top:30px;
}
.r2-main-div{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top:30px;
}
.r2-img-card{
  width: 600px;
  height: 500px;
} 
.r2-img-card-qsn{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 400px;
  align-items: center;
  flex-direction: column;
}
.r2-view-answer-card{
    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 1px 1px #f4efe8;
    padding: 5px;
}
.r2-qsns{
  display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;
    font-size: 24px;
    font-weight: 600;
}
.r2-view-ans{
  display: flex;
  justify-content: center;
  height: 300px;
  flex-direction: column;
  font-size: 20px;
}
.r2-view-ans-btn{
    background: black;
    margin: 0 auto;
    height: 50px;
    color: white;
    /* width: 125px; */
    align-items: center;
    padding: 5px;
    border-radius: 3px;
}
/* R3 css */
.r3-btn {
  background-color: #fa8072;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all 0.2s ease-in-out;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 1em 2em;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease;
  cursor: pointer;
}

.r3-btn:hover,
.r3-btn:focus {
  background-color: #f97263;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 50, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline:0;
}

.r3-btn:focus-visible {
  outline:2px solid #f97263;
  outline-offset: 5px;
}

.r3-btn:active {
  transform: translateY(1px);
  box-shadow: 0 3px 12px -2px inset rgba(50, 50, 50, 0.25);
}

.r3-mrgn{
  margin-top:300px;
}
.r3-wheel{
  display:flex;
}
.size{
  border: 1px solid red;
}
.btn:hover, .btn:active{
  border:none !important;
}
.round-headings{
  font-size:30px;
  font-weight: 600;
}
/* r4 box */
.r4-img-card{
  width: 800px;
  height: 500px;
  box-shadow: 1px 1px 1px 1px #f4efe8;
  padding: 5px;
}
.r4-ul{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.r4-li{
  margin-bottom: 30px;
}